{% extends "month_base.html" %}
{% block month_body %}
    {% if labels %}
    <table border="1">
        <tr>
            <th>状態</th>
            {% for label in labels %}
                <th>{{ label[5:] }}</th>
            {% endfor %}
        </tr>
        {% for state in states %}
        <tr>
            <td>
                {% if state == "加工中" %}加工中（緑）
                {% elif state == "手動加工中" %}手動加工中（青）
                {% elif state == "加工完了" %}加工完了（黄）
                {% elif state == "設備停止／アラーム" %}設備停止／アラーム（赤）
                {% elif state == "加工終了／設備停止" %}加工終了／設備停止（橙）
                {% elif state == "加工中／軽微なアラーム" %}加工中／軽微なアラーム（紫）
                {% else %}不明（灰）
                {% endif %}
            </td>
            {% for val in summaries[state] %}
                <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <p>この月の有効なデータが見つかりませんでした。</p>
    {% endif %}
{% endblock %}
